<div id="slider">
	<h1>Condiciones</h1>
	<section class="slide" id="condiciones">
			<br><br>
				<span>Atencion!</span>
				<div class="texto_cuerpo">
					<p>
				1. Es una competencia entre los estudiantes de la UNCA y público en general que participaron de la “Semana informática”, donde se plantean una serie de situaciones problemáticas cuya solución puede ser resuelta  en algún lenguaje de programación (a elección!).

				<br>
				2. El participante ganador será aquel que pase todos los niveles propuestos, en el menor tiempo posible.
				<br>
				3. Para participar podrás hacerlo en forma individual y/o Grupal. Se debe tener en cuenta que los premios están asignados a los puestos finales(1º premio = 1º lugar, 2º premio = 2º lugar …nºpremio = nº lugar) Es un único premio por lugar.
				<br>
				4. Se permite:
				&nbsp&nbsp&nbsp&nbsp-Una computadora, propia o suministrada por la ORGANIZACION (con aviso anticipado)
				&nbsp&nbsp&nbsp&nbsp-Libros, fotocopias y apuntes que cada equipo o individuo desee llevar al torneo.

				<br>
				5. En el Desarrollo del concurso: Se desarrollara en tres (3) niveles, cada uno compuesto por un ejercicios,  a resolver entre las horas 17:00 a 20:00 del día Viernes 28 de Abril.
				<br>
				6. Cuando se resuelve un problema, se sube el ejercicio a la plataforma para ser evaluado por  los jueces en la solución a ese ejercicio.
				<br>
				7. Los participantes tendrán derecho a un “SALVAVIDAS”, en caso de que sea necesario, según su criterio. El mismo se podrá utilizar en cualquiera de los 3 niveles. La utilización o no del Salvavidas, no afectara al resultado final.
				<br>
				8. El Jurado estará compuesto por Estudiantes Avanzados y Profesores de la carrera Ing. en Informática.
				<br>
				9. La Evaluación:
				&nbsp&nbsp&nbsp&nbspUna vez que el participante haya resuelto el primer ejercicio, y este SEGURO de que el mismo se encuentra correcto ante las exigencias del problema, lo subirá a la plataforma y podrá continuar con el siguiente nivel, hasta terminar los 3 niveles.<br>
				&nbsp&nbsp&nbsp&nbspUna vez subido los 3 ejercicios, el jurado comunicará los resultados en un tiempo acorde.
				&nbsp&nbsp&nbsp&nbspAl momento de evaluar el jurado tendrá en cuenta la hora de inicio (primer nivel) hasta el final (tercer nivel) y el participante o grupo que haya resuelto todos los ejercicios de manera correcta y en menor tiempo será el ganador.
				&nbsp&nbsp&nbsp&nbspEl codigo enviado sera testeado pasando por pruebas de caja negra pare ver si son robustos y cumplen con las exigencias del ejercicio.<br>
				&nbsp&nbsp&nbsp&nbspEste sistema se tendrá en cuenta para asignar todos los puestos existentes.
				<br>
				10.	En caso de que varios equipos resuelvan la misma cantidad de ejercicios, ganará aquel cuya suma de tiempos de entrega sea menor.
				<br>
				11.	Todos los equipos y/o participantes se llevarán un certificado de participación en el torneo.
				</p>
				</div>
			<br><br>
		
		<div id="cont_descarga">
		<a href="doc/condiciones.docx" download><h2>Descarga Este documento.</h2></a>
		</div>
	</section>
</div>