<div id="slider">
	<h1>Condiciones</h1>
	<section class="slide" id="condiciones">
			<br><br>
				<span>Entrada</span>
				<div class="texto_cuerpo">
					<p>
				1. La entrada se debe leer de la entrada est´andar (standard input).
				<br>
				2. La entrada contiene un ´unico caso de prueba, el cual se describe utilizando una
				cantidad de l´ıneas que depende del problema. No hay otros datos en la entrada.
				<br>
				3. Cuando una l´ınea de datos contiene varios valores, ´estos se separan utilizando exactamente<br>
				un espacio entre ellos. Ning´un otro espacio aparece en la entrada. No hay
				l´ıneas en blanco.
				<br>
				4. No hay letras con tildes, acentos, di´eresis, ni otros signos ortogr´aficos (˜n, A, ´e, ˜ `I, ˆo,
				U, ¸c, etc´etera). ¨
				<br>
				5. Todas las l´ıneas, incluyendo la ´ultima, tienen la marca usual de fin de l´ınea.
				</p>
				</div>
			<br><br>
			<span>Salida</span>
				<div class="texto_cuerpo">
					<p>
				1. La salida se debe escribir en la salida est´andar (standard output).<br>
				2. El resultado del caso de prueba debe aparecer en la salida utilizando una cantidad
				de l´ıneas que depende del problema. No debe haber otros datos en la salida.
				<br>
				3. Cuando una l´ınea de resultados contiene varios valores, ´estos se deben separar utilizando
				exactamente un espacio entre ellos. Ning´un otro espacio debe aparecer en
				la salida. No debe haber l´ıneas en blanco.
				<br>
				4. No debe haber letras con tildes, acentos, di´eresis, ni otros signos ortogr´aficos (˜n, A, ˜
				´e, `I, ˆo, U, ¸c, etc´etera). ¨
				<br>
				5. Todas las l´ıneas, incluyendo la ´ultima, deben tener la marca usual de fin de l´ınea.
				<br>
				6. Para escribir n´umeros reales, redondearlos al racional m´as cercano con la cantidad
				de d´ıgitos luego del punto decimal que se especifica en el enunciado. El caso de
				prueba es tal que no va a haber empates en el redondeo.
				</p>
				</div>
			<br><br>
			<span>Tiempo</span>
				<p>
					1. El tiempo l´ımite informado corresponde a la entrada descripta en el enunciado, y
				no a m´ultiples instancias de la misma.
				</p>
		</section>
		
</div>