<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="aesi, informatica catamarca, torneo de programacion">
	<meta name="description" content="agrupacion de estudiantes, informatica, catamarca informatica">
	<meta name="owner" content="AESI-TECNO">

	<meta name="author" content="abueloinformatico.xyz">
	<meta name="robots" content="index, follow">

    <meta http-equiv="Expires" content="0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="window-target" content="_top">
	<title>AESI TECNO</title>
	<link rel="stylesheet" href="css/aesi.css?v=3.9" type="text/css">
	<link rel="stylesheet" href="css/normalize.css" type="text/css">
	
	<link rel="stylesheet" href="css/icoicoico/style.css" type="text/css">
	<script type="text/javascript" src="js/aesi.js?v=1.1"</script> 
	<script type="text/javascript" src="js/modernizr.js"</script>
	<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>


   <script type="text/javascript">
        
        function countdown(id){
        	////////////////FECHA AÑO MES DIA HORA MINUTO SEGUDOS
            var fecha=new Date('2017','3','28','17','0','0')
         
            var hoy=new Date()
            var dias=0
            var horas=0
            var minutos=0
            var segundos=0
         
            if (fecha>hoy){
                    var diferencia=(fecha.getTime()-hoy.getTime())/1000
                    dias=Math.floor(diferencia/86400)
                    diferencia=diferencia-(86400*dias)
                    horas=Math.floor(diferencia/3600)
                    diferencia=diferencia-(3600*horas)
                    minutos=Math.floor(diferencia/60)
                    diferencia=diferencia-(60*minutos)
                    segundos=Math.floor(diferencia)

                    document.getElementById(id).innerHTML=   dias + ' D&iacute;as- ' + horas + ' Horas- ' + minutos + ' Minutos- ' + segundos + ' Segundos'

                    if (dias>0 || horas>0 || minutos>0 || segundos>0){
                            setTimeout("countdown(\"" + id + "\")",1000)
                    }
            }
            else{
            	okok = 2;
            	var id_div_comenzar = document.getElementById(id);
            	var h2_ = document.createElement("h2");
            	var vinculo = document.createElement("a");
            	vinculo.setAttribute('href','index.php?action=Ingreso::login_torneo');
            	var nombre_comenzar = "COMENZAR";
            	var h2_ = document.createTextNode(nombre_comenzar);
            	vinculo.appendChild(h2_);
            	id_div_comenzar.appendChild(vinculo);
            	//id_div_comenzar.innerHTML= "COMENZAR"
            }
           

          

     
        }
        </script>
</head>
<body onload="countdown('contador')">


	<header>
		<h1>
			<a href="index.php?action=Ingreso_Controller::login">
				<figure>
					<img src="img/aesi2.png" alt="">
				</figure>
			</a>
			<a id="fm_nav" href="index.php?action=Ingreso::login">AESI</a>
		</h1>
		
		<nav id="ioMenu">
			<figure id="showMenu" class="ioMenuMovil" onClick="displayMenu()">
				<h3>MENU</h3>
			</figure>	
			<div id="card_menu" style="display:none">
				<figure id="hideMenu" class="ioMenuMovil" onClick="displayMenu()">
					<h3>CERRAR</h3>
				</figure>

				<figure id="logo_menu">
					<img src="img/aesi2.png" alt="">
				</figure>

				<ul>
				<!-- START BLOCK : sin_login -->
					<li><a href="#" onClick="displayForm('block')">Inscribirme!</a></li>
				<!-- END BLOCK : sin_login -->
				<!-- START BLOCK : con_login_ejercicios -->
					<li><a href="index.php?action=Ingreso::ejercicios">Ejercicios</a></li>
				<!-- END BLOCK : con_login_ejercicios -->
					<li><a href="index.php?action=Ingreso::login">Inicio</a></li>
					<li><a href="index.php?action=Ingreso::condiciones">Condiciones</a></li>
					<li><a href="index.php?action=Ingreso::nosotros">Nosotros</a></li>
				<!-- START BLOCK : con_login -->
					<li><a href="index.php?action=Ingreso::cerrar_sesion">Salir</a></li>
				<!-- END BLOCK : con_login -->
				</ul>
			</div>
		</nav>

	</header>


	

<!-- START BLOCK : contenido -->
	{contenido}
<!-- END BLOCK : contenido -->
	<div id="inscrip_form">
		<form enctype="multipart/form-data" action="index.php?action=Ingreso::inscripcion" 	method="post" id="form1"> 
			
			<div id="close_form" onClick="displayForm('none')">
				
			</div>
			<strong><p>Ingresa tus datos.</p></strong>
			<label for="nombre">Apellido y Nombre</label>
			<input required type="text" name="nombre" placeholder="Tu Nombre" onmouseover="this.placeholder ='Sii Siiiiiii Completamee!!! :D'" onmouseout="this.placeholder ='Hoo noo... vuelve :,('">
			<label for="dni">DNI</label>
			<input required type="number" name="dni" placeholder="Tu DNI" onmouseover="this.placeholder ='Sera tu pk en la db :O'" onmouseout="this.placeholder ='solo eso..encerio.:P'">
			
			<label for="correo">Email</label>
			<input required type="email" name="correo" placeholder="Tu Correo" onmouseover="this.placeholder ='Ya casi terminas el form!:,D'" onmouseout="this.placeholder ='por que te vas? :S'">

			<label for="correo">Contraseña</label>
			<input required type="password" name="pass" placeholder="Contraseña para tu cuenta" onmouseover="this.placeholder ='Esto es lo ultimo ;)'" onmouseout="this.placeholder ='No entratemos a tu face u.u'">
			<label for="correo">Lenguaje que usaras</label>
			<input required type="lenguaje" name="leng" placeholder="El que mejor sepas" onmouseover="this.placeholder =':D'" onmouseout="this.placeholder ='Pensala bien'">

			<input type="submit" name="submit" id="button" value="Inscribeme!">

			
		</form>
	</div>	

	<footer>
		
		<figure id="logo_footer_facu">
			<img src="img/facu.png" alt="">
		</figure>
		
		<div class="rrss">
			<div class="footex">
				<a target="_blank" href="https://es-la.facebook.com/aesi.tecno"><strong>AESI-TECNO</strong></a>
				<p>Agrupacion de Estudiantes de Sistemas e Informatica.</p>
				<p>Facultad de Tecnologia- UNCa</p>
			</div>
				
		</div>
		
		<!--<figure id="logo_footer">
			<img src="img/facu.png" alt="">
		</figure>-->
		
	</footer>
	
</body>
</html>